h1 {
	font-size: 24pt;
	font-weight: bold;
	margin: 0.02in  0.006in  0.02in  0.009in;
	padding: 0.02in  0.0in  0.02in  0.02in;
	font-family: Verdana,Arial,Helvetica,Geneva,sans-serif;
	border-top: thick solid gray;
	border-bottom: thick solid gray;
}
td.c1 {
	width: 240px;
	vertical-align: top;
	padding-left: 20px;
	font-weight: bold;
	font-family: Verdana,Arial,Helvetica,Geneva,sans-serif;
}
td.c2 {
	width: 150px;
	vertical-align: top;
}
td.c3 {
	vertical-align: top;
}
h2, h3 {
	font-family: Verdana,Arial,Helvetica,Geneva,sans-serif;
	margin-left: 0.02in;
}
dt {
	font-weight: bold;
}
p {
	padding-left: 20px;
}
td.m1 {
	width: 240px;
	vertical-align: top;
	padding-left: 20px;
	font-family: Verdana,Arial,Helvetica,Geneva,sans-serif;
}
td.m2 {
	vertical-align: top;
}
td.cspan {
	vertical-align: top;
	padding-left: 20px;
	font-weight: bold;
	font-family: Verdana,Arial,Helvetica,Geneva,sans-serif;
}
td.m1s {
	width: 220px;
	vertical-align: top;
	padding-left: 40px;
}
